    <div class="gsr-row header">
      <div  class="gsr-column" (click) = "sortColumn(column);" attr.colname="{{column.attrName}}" *ngFor="let column of columns"> {{column.colName}} <span class="iconWrapper"><span *ngIf="column.filterBy" class="{{column.icon}}"></span></span> </div>
    </div>
  
    <div class="gsr-row filter" *ngIf="showFilter">
      <div  class="gsr-column" attr.colname="{{column.attrName}}" *ngFor="let column of columns; let in = index">
        <input *ngIf="column.inputType==='text'"  [(ngModel)]= "column.filterValue"  class="filterInput" type="text"/>
        <input *ngIf="column.inputType==='date'"  [(ngModel)]= "column.filterValue" class="filterInput" type="date"/>
        <select class="filterInput" *ngIf="column.inputType==='dropdown'" [(ngModel)]= "column.filterValue"><option value= "">Show All</option><option *ngFor="let value of column.dropdownValues" value="{{value}}">{{value}}</option></select>
      </div>
    </div>
