
<div class="backdrop" ></div>


<div class="gsr-modal" tabindex="-1">


  <div class="gsr-modal-dialog">


    <div class="gsr-modal-content">


      <div class="gsr-modal-header">


        <div class="close" aria-label="Close" (click)="onCloseHandled()">X</div>


        <h4 class="gsr-modal-title">Model Title</h4>


      </div>


      <div class="gsr-modal-body">


        <p>Model body text</p>


      </div>


      <div class="gsr-modal-footer">


        <button type="button" class="btn btn-default" (click)="onCloseHandled()" >Close</button>


      </div>


    </div><!-- /.gsr-modal-content -->


  </div><!-- /.gsr-modal-dialog -->


</div><!-- /.gsr-modal !-->