<div class="gsr-row dynamicHeader">
    <div class="gsr-column" *ngIf="columnHeaderInfo.level == 1"></div> 
    <div class="gsr-column" *ngIf="columnHeaderInfo.level == 2">{{dataObj.id}} -></div> 
    <div class="gsr-column" *ngIf="columnHeaderInfo.level == 3">{{dataObj.id}} -> {{dataObj.companies[recIndex].company}}</div> 
    <div class="gsr-column headerOptions">
      <span class="gsr-link" *ngIf="columnHeaderInfo.needFilter && !showFilter" (click) = "toggleFilterColumn()">Filter</span>
      <ng-container  *ngIf="showFilter">
            <span class="gsr-link" (click) = "filterColumn()">Apply</span>
            <span class="gsr-link" (click) = "clearInputValues()">Clear</span>
            <span class="gsr-link" (click) = "toggleFilterColumn()">Close</span>
      </ng-container>
      <span class="gsr-link" *ngIf="columnHeaderInfo.needPrint">Print</span>
    </div> 
</div>