
<gsr-tabs [tabs] = "tabs"></gsr-tabs>

<!-- <gsr-tabs [tabs] = "tabs1"></gsr-tabs> -->

<!-- <gsr-table *ngIf="columnHeaderInfo.level === 1" (sendLevel)="getLevel(levelDtls=$event)"  [dataObj] = "icData" [columnHeaderInfo] = "columnHeaderInfo"></gsr-table>
<gsr-table *ngIf="columnHeaderInfo.level === 2" (sendLevel)="getLevel(levelDtls=$event)"  [dataObj] = "icData" [columnHeaderInfo] = "columnHeaderInfo"></gsr-table>
<gsr-table *ngIf="columnHeaderInfo.level === 3" (sendLevel)="getLevel(levelDtls=$event)"  [dataObj] = "icData" [columnHeaderInfo] = "columnHeaderInfo"></gsr-table> -->


<!-- 
<gsr-tabs>
    <gsr-tab tabTitle="Title 1"></gsr-tab>
    <gsr-tab tabTitle="Title 2"></gsr-tab>
</gsr-tabs> -->

<!-- 
<ul class="nav nav-tabs">
    <li *ngFor="let tab of tabs" (click) = "selectTab(tab)">{{tab}}</li>
  </ul> 
  <ng-content></ng-content>
  
  
   -->
