<!--The content below is only a placeholder and can be replaced.-->




<!-- 
<div>MENU BAR</div>

<p-menubar [model]="items">
</p-menubar>


<div>BREADCRUMB</div>

<p-breadcrumb [model]="bc"></p-breadcrumb>


<div>TAB MENU</div> -->

<!-- <p-tabMenu [model]="tm"></p-tabMenu> -->




<div class="gsr-table" *ngIf="users">
    <div class="allHeaders">
    <div class="gsr-row dynamicHeader">
        <div class="gsr-column">{{icData.id}} -> {{icData.companies[0].company}}</div> 
        <div class="gsr-column headerOptions">
          <span class="gsr-link" *ngIf="!showFilter" (click) = "toggleFilterColumn()">Filter</span>
          <span class="gsr-link" *ngIf="showFilter">Clear</span>
          <span class="gsr-link" *ngIf="showFilter" (click) = "toggleFilterColumn()">Close</span>
          <!-- <span class="gsr-link" (click) = "showFilter = !showFilter">Bull</span> -->
        </div> 
      </div>

   
    <div class="gsr-row header">
      <div  class="gsr-column" (click) = "hello(column);" attr.colname="{{column.attrName}}" *ngFor="let column of columns"> {{column.colName}} <span class="iconWrapper"><span *ngIf="column.sortBy" class="{{column.icon}}"></span></span> </div>
    </div>
  
    <div class="gsr-row filter" *ngIf="showFilter">
      <div  class="gsr-column" attr.colname="{{column.attrName}}" *ngFor="let column of columns; let in = index">
        <input *ngIf="column.inputType==='text'"  class="filterInput" #textVar (keyup)="filterColumn(column,textVar.value)"  type="text"/>
        <input *ngIf="column.inputType==='date'" class="filterInput"  (change)="filterColumn(column,$event.target.value)"  type="date"/>
        <select class="filterInput" *ngIf="column.inputType==='dropdown'" (change)="filterColumn(column,$event.target.value)"><option value= "">Show All</option><option *ngFor="let value of column.dropdownValues" value="{{value}}">{{value}}</option></select>
      </div>
    </div>
  </div>  

    <!-- [(ngModel)] = "{{item.attrName}}"  -->


    
    <div  class="gsr-row gsr-accordionHeader">
        <div  class="gsr-column"><span class="iconStyle collapse"></span><span>{{icData.companies[0].company}}</span></div>
     
    </div>

    <div  class="gsr-row " *ngFor="let user of users">
      <div  class="gsr-column" attr.colname="{{column.attrName}}" *ngFor="let column of columns" >
        <span *ngIf="!column.accordion">{{user[column.attrName]}}</span>
        <span class="searchIcon" (click) = "openModal()" *ngIf="column.searchIcon"><i class="material-icons md-18">search</i></span>
        <span class="iconStyle expand" *ngIf="column.accordion"></span>
     </div>
   </div>
  
</div>


<gsr-modal *ngIf="showModal" (sendValue)="showModal=$event"  [showModal] = 'showModal'></gsr-modal>
